.vert-offset-top-0 {
    margin-top: 0em;
}

.vert-offset-top-2 {
    margin-top: 2em;
}

.orange-head {
    margin-top: 0em;
    background: #ff8663;

}

.title-container {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 0 0 15px;
    height: 45px;
}

.offset-right-2 {
    margin-right: 2em;
    padding-right: 2em;
}

.head-container {
    background-color: #f0f0f0;
    color: #0a0a0a
}

.dateTime {
    color: #b1aeae;
}

.bottom {
    margin-bottom: 15px;
}

.header {
    border-radius: 10px 10px 0 0;
    padding: 0;
}

.footer {
    border-radius: 0 0 10px 10px;
}